nav{
	font-family: Helvetica, sans-serif;
	width: 55%;
	margin: 0 auto;
	border-style: solid;
    border-color: red;
	border-radius: 5px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f37813+0,db3403+100 */
	background: #f37813; /* Old browsers */
	background: -moz-linear-gradient(top,  #f37813 0%, #db3403 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f37813), color-stop(100%,#db3403)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f37813 0%,#db3403 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f37813 0%,#db3403 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f37813 0%,#db3403 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f37813 0%,#db3403 100%); /* W3C */
	
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
	text-align: center;
}

li{
	display: inline-block;
	border-right: 2px solid red;
	

}

a{
	text-decoration: none;
	color: white;
	display: block;
	
	font-size: 1.3em;
	text-shadow: 0 -2px 2px rgba(0,0,0,0.5);
	padding: 15px 30px;  
}